# IDE and Editor Files
.idea
.DS_Store
.vscode

# Virtual Environment Files
venv
python/
uv-cache/

# Environment Configuration Files
.env*
!.env.conf

# Cloud Configuration Files
.gcloud
!.gcloud.gitkeep

# Log Files
logs

# Compiled Files
prod_compiled
artifact

# Python Cache Files
__pycache__

# Credentials Files
*credential*

# Miscellaneous Files
foo.*
test